In [6]:
for i in range(1,3):
    print(i)
    for j in ['a','b']:
        print(j)
        for k in ["c","d","e"]:
            print(k)

1
a
c
d
e
b
c
d
e
2
a
c
d
e
b
c
d
e

In [6]:
for i in range(1,6):
    print(i)
    for j in range (10,12):
        print(j)
        for k in ["well","village","park"]:
            print(k)

1
10
well
village
park
11
well
village
park
2
10
well
village
park
11
well
village
park
3
10
well
village
park
11
well
village
park
4
10
well
village
park
11
well
village
park
5
10
well
village
park
11
well
village
park

In [ ]:
wap to print a tables from 3 to 6 in reversed orderd:

In [1]:
for i in range(3,7):
    for j in range(10,0,-1):
        print(i*j)
    print("****")

30
27
24
21
18
15
12
9
6
3
****
40
36
32
28
24
20
16
12
8
4
****
50
45
40
35
30
25
20
15
10
5
****
60
54
48
42
36
30
24
18
12
6
****

In [26]:
for i in range(3,7):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i*j)
    print("*****")

table of : 3
30
27
24
21
18
15
12
9
6
3
*****
table of : 4
40
36
32
28
24
20
16
12
8
4
*****
table of : 5
50
45
40
35
30
25
20
15
10
5
*****
table of : 6
60
54
48
42
36
30
24
18
12
6
*****

In [ ]:
wap to

In [19]:
for i in range(3,7):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i*j)
    print("******")

table of : 3
30
27
24
21
18
15
12
9
6
3
******
table of : 4
40
36
32
28
24
20
16
12
8
4
******
table of : 5
50
45
40
35
30
25
20
15
10
5
******
table of : 6
60
54
48
42
36
30
24
18
12
6
******

In [29]:
for i in range (1,6):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i,"x",j,"=",i*j)

table of : 1
1 x 10 = 10
1 x 9 = 9
1 x 8 = 8
1 x 7 = 7
1 x 6 = 6
1 x 5 = 5
1 x 4 = 4
1 x 3 = 3
1 x 2 = 2
1 x 1 = 1
table of : 2
2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2
table of : 3
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
table of : 4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
table of : 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

In [31]:
for i in range(3,7):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i,"x",j,"=",i*j)

table of : 3
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
table of : 4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
table of : 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
table of : 6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

In [11]:
for i in range(20,31):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c = c+1
    if c==2:
        print(i, "is prime " )
    else:
        print(i, "is composite " )

20 is composite
21 is composite
22 is composite
23 is prime
24 is composite
25 is composite
26 is composite
27 is composite
28 is composite
29 is prime
30 is composite